
.DS_Store
Results/.DS_Store
Data/BindfordData/Rasteres/.TS.tif.icloud
Data/BindfordData/Rasteres/.TAP.tif.icloud
Data/BindfordData/Rasteres/.PWM.tif.icloud
Data/BindfordData/Rasteres/.PS.tif.icloud
Data/BindfordData/Rasteres/.PET.tif.icloud
Data/BindfordData/Rasteres/.PDM.tif.icloud
Data/BindfordData/Rasteres/.MWM.tif.icloud
Data/BindfordData/Rasteres/.MCM.tif.icloud
Data/BindfordData/Rasteres/.ET.tif.icloud
Data/BindfordData/Rasteres/TS.tif
Data/BindfordData/Rasteres/TAP.tif
Data/BindfordData/Rasteres/PWM.tif
Data/BindfordData/Rasteres/PS.tif
Data/BindfordData/Rasteres/PET.tif
Data/BindfordData/Rasteres/PDM.tif
Data/BindfordData/Rasteres/MWM.tif
Data/BindfordData/Rasteres/MCM.tif
Data/BindfordData/Rasteres/ET.tif
Data/BindfordData/Rasteres/TS.tif
Data/BindfordData/Rasteres/TAP.tif
Data/BindfordData/Rasteres/PWM.tif
Data/BindfordData/Rasteres/PS.tif
Data/BindfordData/Rasteres/PET.tif
Data/BindfordData/Rasteres/PDM.tif
Data/BindfordData/Rasteres/MWM.tif
Data/BindfordData/Rasteres/MCM.tif
Data/BindfordData/Rasteres/ET.tif
Data/BindfordData/Rasteres/PWM.tif
